.keyword{
    background: #CCCCCC;
    border-radius: 5px;
    display: inline-block;
    margin: 5px 5px 0 0;
    padding: 3px;
}
a.delete{
    color:#007bff;
    cursor: pointer;
    margin:0 3px;
}
.select2.select2-container {
    width:100% !important;
}
.select2-selection{
    margin-top:.5rem!important;
    padding: 0px 0;
}
.select2-container .select2-selection--multiple{
    min-height: 42px !important;
}
.select2-container--default.select2-container--focus .select2-selection--multiple{
    border: 1px solid #ced4da !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__display{
    padding-left:5px !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice{
    color: #000;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice{
    margin-top: 8px;
}
.form-control:disabled, .form-control[readonly]{
    background: #fff !important;
}

.new_row input[type="radio"] {
    margin-top: 45px;
}
.column { vertical-align: top; } .box { height: 50px; background-color: #007bff; color: white; text-align: center; line-height: 50px; margin-bottom: 10px; border-radius: 5px; } .input-group {display:inline-block;}.form-group{margin:0;}
